input {
    padding: 15px;
    width: 300px;
    font-size: 20px;
    background-color:beige;
}
.fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0
}
button {
    padding: 20px 50px;
}
